.pop-is-hide {
  display: none;
  transition: display 3s ease-in;
}

.pop-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 6;

  .pop-details-container {
    padding: 0 10px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1024px;

    .cancel-pop {
      position: relative;
      left: 93%;
      font-size: 1.9em;
      cursor: pointer;
    }

    h4 {
      padding: 10px 0;
      word-break: break-all;
      text-align: center;
      text-transform: uppercase;
    }

    .button-container {
      position: relative;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 20px;
      justify-content: center;

      button {
        color: #fff;
        padding: 10px 15px;
        border-radius: 8px;
        border: none;
        outline: none;
        box-shadow: 2px 2px 3px 1px rgb(128, 128, 128);
        cursor: pointer;
        transform: scale(1);
        transition: transform 1s ease-in-out;
      }

      button:hover {
        transform: scale(1.1);
      }
    }
  }
}
