$secondary-color: #4a4a4a;
$primary-text-color: #555;
$primary-color: #6d56c1;
$word-space: 0.4em;
$line-height: 37px;
$padding-content-x: 12px;
$default-font: 'Roboto Mono', monospace;
$paragraph-font: 'Roboto', sans-serif;

@mixin theme_switch($theme-name, $main-color, $linear-color) {
  .#{$theme-name} {
    header::before,
    .testimonyBg,
    .innerfoot {
      background: $linear-color;
    }

    .inner-list::before {
      border: 2px solid $main-color;
      background: $main-color;
    }

    .inner-list::after {
      border: 1px solid $main-color;
    }

    .education-answer {
      h4 {
        color: $main-color;
      }
    }

    hr {
      color: $main-color;
    }

    .profile-intro {
      span {
        a {
          color: $main-color;
        }
      }
    }

    button {
      background: $main-color;
    }
  }

  section.testimony {
    background-color: $main-color;
    .quote {
      color: $main-color;
    }
  }
  .pop-container {
    .pop-details-container {
      .cancel-pop {
        color: $main-color;
      }
      h4 {
        color: $main-color;
      }
    }
  }
}

@include theme_switch(
  theme-1,
  #6d56c1,
  linear-gradient(54deg, rgba(74, 76, 179, 0.9) 34%, hsla(0, 34%, 71%, 0.9))
);

@include theme_switch(
  theme-2,
  #4a4a4a,
  linear-gradient(54deg, rgba(45, 45, 45, 0.95) 34%, rgba(45, 45, 45, 0.95))
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

%btn {
  padding: 18px;
  border-radius: 25px;
  color: #fff;
  width: 50%;
  cursor: pointer;
}
