.h2-animate {
  opacity: 0;
}

.active {
  animation: fade 1s ease;
  opacity: 1;
}

.theme-icon {
  .theme-control.active {
    animation: rollOut 1s ease-in-out forwards;

    @keyframes rollOut {
      0% {
        right: -5em;
      }

      25% {
        right: -4em;
      }

      50% {
        right: -3em;
      }

      75% {
        right: -2em;
      }

      100% {
        right: -0.2em;
      }
    }
  }

  .theme-control.deactivate {
    animation: rollIn 1s ease-in-out forwards;

    @keyframes rollIn {
      0% {
        right: -0.2em;
      }

      25% {
        right: -2em;
      }

      50% {
        right: -3em;
      }

      75% {
        right: -4em;
      }

      100% {
        right: -5em;
      }
    }
  }

  .gear.active {
    animation: rollAround 2s ease-in-out;
  }

  @keyframes rollAround {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@keyframes fade {
  from {
    transform: scale(0, 2.5);
  }

  to {
    transform: scale(1, 1);
  }
}
